/*
About Me Page Styling
*/
#aboutMePage{
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    color: black;
}


/*
Navigation Bar Styling
*/
#aboutMePage #navBar{
    height: 7vh;
    position: sticky;
    top: 0;
    z-index: 10;
}

#aboutMePage nav{
    width: (100% - 5px);
    background-color: var(--navbar);
    height: 100%;
}

#aboutMePage nav div{
    position: absolute;
    right: 50px;
    height: 100%;
}

#aboutMePage nav ul{
    display: flex;
    gap: 20px;
    font-size: 2rem;
    height: 100%;
    align-items: center;
}

#aboutMePage nav ul li{
    height: 100%;
}

#aboutMePage nav ul li a {
  display: flex;                 
  align-items: center;           
  height: 100%;                 
  padding: 0 20px;               
  text-decoration: none;         
  color: inherit;                
  cursor: pointer;          
}