/*
Contact Page Styling
*/

#contactMePage{
    height: 30vh;
    min-height: 700px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    color: var(--text);
}

/*
Form Styling
*/

#formContainer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#formContainer form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 30px;
}

/*
Input Styling
*/

#formContainer input{
    width: 400px;
    height: 30px;
}

/*
TextArea Styling
*/

#formContainer textarea{
    max-height: 40%;
    max-width: 400px;
    min-width: 400px;
    min-height: 5vw;
    width: 400px;
}