@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("woff2"),
        url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("woff");
}

@font-face {
    font-family: "Blooshooz";
    src: url("../fonts/blooshooz/blooshooz/Blooshooz.ttf") format("woff2"),
}

@font-face {
    font-family: "SansBogle";
    src: url("../fonts/BBH_Sans_Bogle/BBHSansBogle-Regular.ttf") format("woff2"),
}

@font-face {
    font-family: "SansBartle";
    src: url("../fonts/BBH_Sans_Bartle/BBHSansBartle-Regular.ttf") format("woff2"),
}