/*
Footer Styling
*/

footer{
    height: 25vh;
    border-top-left-radius: 40vw 5vw;
    border-top-right-radius: 40vw 5vw;
    background-image: linear-gradient(to top, var(--secondary-200), var(--secondary-100));
}

/*
Arrow Styling
*/

div#upArrowContainer{
    position: relative;
    bottom: 3vw;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upArrowContainer a{
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-family: "Comic Sans MS";
    font-size: 5vw;
}


/*
Contact Container Styling
*/

#contactContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100%-2vw);
}

#contactContainer > div{
  display: flex;
  gap: 20px;
}

#contactContainer img{
  width: 7vh;
  height: 7vh;
  transition: transform 0.2s ease;
}

#contactContainer img:hover{
  transform: translateX(-10px) rotate(15deg);
}