html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--background);
}

*{
  transition:
    background-color 0.2s ease,
    color 0.4s ease,
    filter 0.4s ease,
    border-color 0.4s ease;
  outline: none;
}