/*
Home Page Styling
*/

#homePage{
  position: relative;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: none;
  color: var(--text);
  z-index: 2;
}

/*
Column Styling
*/

#col1{
  width: 40%;
}
#col2{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#col3{
  width: 40%;
}

#col1,#col2,#col3{
  z-index: 2;
}

/*
Title Container Styling
*/

#heroContainer{
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-weight: 200;
  gap: 60px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden; 
}

#homeText{
  font-size: 4vw;
  letter-spacing: 2px;
  position: relative;
  white-space: nowrap;
  animation: slideDownFade 2s ease forwards;
  user-select: none;
}

#homeText > em{
  color: var(--accent);
  font-weight: 300;
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#homeText,#viewWorkButton{
  opacity: 0;
}

#viewWorkButton{
  position: relative;
  user-select: none;
  animation: slideUpFade 1.5s ease forwards;
  animation-delay: 0.7s;
  z-index: 10; 
}

#viewWorkButton a{
  font-size: 2vh;
  min-width: 7vh;
  min-height: 2vh;
  text-align: center;
  padding: 10px 70px 10px 70px;
  border: var(--secondary) solid 2px;
  color: var(--accent);
  background-color: white;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease;
  box-shadow: 0px 0px 25px var(--accent);
  display: inline-block;
  z-index: 11; 
}

#viewWorkButton a:hover {
  box-shadow: 0px 0px 5px var(--accent);
  transform: translateY(3px);
}


/*
Contact Container Styling
*/

#contactContainer{
  display: flex;
  justify-content: right;
  padding-right: 20px;
}

#contactContainer > div{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contactContainer img{
  width: 50px;
  height: 50px;
  transition: transform 0.2s ease;
  user-select: none;
}

#contactContainer img:hover{
  transform: translateX(-10px) rotate(15deg);
}

@media screen and (max-width: 950px) {
  #homeText{
    font-size: 6vw;
  }
}

@media screen and (max-width: 700px) {
  #homeText{
    font-size: 6vw;
    letter-spacing: 2px;
    position: relative;
    white-space: nowrap;
    animation: slideDownFade 2s ease forwards;
  }

  #heroContainer{
    margin-bottom: 17vh;
  }
}