/*
Home Page Styling
*/

#homePage{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background);
  color: var(--text);
}

/*
Column Styling
*/

#col1{
  width: 40%;
}
#col2{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#col3{
  width: 40%;
}

/*
Theme Button Styling
*/

#themeToggle{
  position: fixed;
  top: 28px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  perspective: 800px;
  background: transparent;
  outline: none;
  border: none;
  transition: transform 0.3s ease;
  z-index: 11;
}

#themeToggle:hover{
  transform: scale(1.05);
}

#themeToggle .icon{
  user-select: none;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.8s ease, opacity 0.3s ease;
}

#themeToggle #sun {
  transform: rotateY(0deg);
}

#themeToggle #moon {
  transform: rotateY(180deg);
}

html[data-theme="light"] #themeToggle #sun {
  transform: rotateY(0deg);
  opacity: 1;
}

html[data-theme="light"] #themeToggle #moon {
  transform: rotateY(180deg);
  opacity: 0;
}

html[data-theme="dark"] #themeToggle #sun {
  transform: rotateY(-180deg);
  opacity: 0;
}

html[data-theme="dark"] #themeToggle #moon {
  transform: rotateY(0deg);
  opacity: 1;
}

/*
Title Container Styling
*/

#titleContainer{
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-weight: 200;
  gap: 60px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden; 
}

#homeText{
  font-size: 3.5rem;
  letter-spacing: 2px;
  position: relative;
  white-space: nowrap;
}

#homeText > em{
  color: var(--accent);
  font-weight: 300;
}

@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#homeText,#viewWorkButton{
  opacity: 0;
}

#homeText{
  animation: slideDownFade 2s ease forwards;
}

#viewWorkButton{
  user-select: none;
  animation: slideUpFade 1.5s ease forwards;
  animation-delay: 0.7s;
}

#viewWorkButton a{
  text-align: center;
  padding: 10px 70px 10px 70px;
  border: var(--secondary) solid 2px;
  color: var(--accent);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease;
  box-shadow: 0px 0px 25px var(--accent);
  display: inline-block;
}

#viewWorkButton a:hover {
  box-shadow: 0px 0px 5px var(--accent);
  transform: translateY(3px);
}


/*
Contact Container Styling
*/

#contactContainer{
  display: flex;
  justify-content: right;
  padding-right: 20px;
}

#contactContainer > div{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contactContainer img{
  width: 50px;
  height: 50px;
  transition: all 0.2s ease;
  user-select: none;
}

#contactContainer img:hover{
  transform: translateX(-10px) rotate(15deg);
}